.row {
    display: flex;
    flex-direction: row !important;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    padding-inline: 2rem;

    h1 {
        align-self: center !important;
    }

    p {
        width: 800px;
    }

    > ul {
        padding-bottom: 2rem;
    }

    img {
        height: 100%;
        margin: auto; /* Magic! */
    }
}
