@import '../colors.scss';

.titlepage {
    justify-content: center;
}

// Show the title on the right as
// a vertical text in  abox
.Location {
    justify-content: baseline;
    position: absolute;
    align-self: flex-start;
    top: 5%;

    padding: 0;
    margin: 0;
    background-color: $accent;
    display: flex;

    align-self: flex-end;
    margin-top: 1rem;
    margin-right: -2rem;

    h3 {
        &:first-child {
            background-color: $white;
        }
        font-weight: 300;
        color: $dark;
        padding: 1.5rem;
        margin: 0;
    }
}

// Title and subtitle
.title {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: baseline;

    align-self: flex-start;
    margin-top: 18rem;
    margin-left: 10%;
    top: 50%;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 5rem;
}

.subtitle {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: baseline;

    align-self: flex-start;
    margin-left: 15%;
    margin-bottom: 3rem;
    font-weight: 400;
    color: $primary;
}

.Date {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: baseline;

    align-self: flex-start;
    margin-left: 15%;
    font-weight: 300;
    color: $primary;
}

.Author {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: baseline;
    position: relative;
    bottom: 0;
    //Disable wrrap
    white-space: nowrap;
    align-self: flex-start;
    margin-left: 15%;
    font-weight: 300;
    color: $primary;
}
